
<!-- This section refers to the products view after the navigation bar-->
<section class="cookieBody" role="product-cookie">
<span id="cookies-products">
	<div section="container">
		<div class="row">
			<ul>
				<li ng-repeat="products in ctrl.products">
					<div class="col-md-4">
						<div class="card transition">
							<h2 class="transition">{{products.name}}</h2>
							<p>{{products.description}}</p>
							<p>{{products.price}}</p>
							<div class="cta-container transition"><a href="#" class="cta">Add to Cart</a></div>
							<div class="card_circle transition" style="background:url('{{products.image}}');
							background-size: 200px;
							border-radius: 75%;
							height: 400px;
							margin-left: -75px;
							 margin-top: -270px;
							 position: absolute;
							 width: 450px;">
						 </div>
					 </div>
				 </li>
			 </ul>
		 </span>
</section>
