<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../../assets/css/new_ui.css">
</head>

<body> 
	<div section="container">
		<div class="row">

							<!-- List of products here. -->

			<ul>	
				<li> 
					<div class="col-md-4">
							<div class="card transition">
								  <h2 class="transition">Charlie Chocolate</h2>
								  <p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>

								  <!-- Click for Modal -->
								  <div class="cta-container transition"><a href="#clickModal" class="cta" data-toggle="modal" data-target="#clickModal">Add to Cart</a></div>

								  <div class="card_circle transition">
								 <!-- IMAGE for Products -->
								  <img src="../../assets/img/cookies/chocolatechip.jpg"></div>
								  </div>
								 <!-- Modal when Add to Cart Clicked -->
								  <div id="clickModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				                 <div class="modal-dialog modal-sm">
				                   <div class="modal-content">
				                        <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				                        <b>A modal for a mountain</b>
				                        </div>
				                        
				                        <div class="modal-body">
				                          here is a pop up that could have some stuff about this great mountain that towers over a little town that has a hot spring and is home to a species of snails that aren't found anywhere else in the world
				                         </div>		
					</div>
				</li>
				<li> 
					<div class="col-md-4">
						<div class="card transition">
							<h2 class="transition">Macadamia Crumble</h2>
							<p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
							<div class="cta-container transition"><a href="#" class="cta">Add to Cart</a></div>
							<div class="card_circle transition"><img src="../../assets/img/resized_img/macadamianut.png"></div>
						</div>
					</div>
				</li>
				<li>
					<div class="col-md-4">
						<div class="card transition">
							<h2 class="transition">Masterful Molasses</h2>
							<p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
							<div class="cta-container transition"><a href="#" class="cta">Add to Cart</a></div>
							<div class="card_circle transition"><img src="../../assets/img/resized_img/molasses.png"></div>
						</div>
					</div>
				</li>
			</ul>

		</div>
	</div>
</body>
</html>