<nav>
	<div class="content-wrapper">
		<ul class="left-nav">
			<li><img src="assets/img/logo2.png"></li>
		</ul>
		<ul class="right-nav">
			<li>
  				<a ng-click="ctrl.showModal()"><i class="fa fa-shopping-cart"></i><span class="cart">Treat Bag</span></a> &nbsp;&nbsp; <span class="sign">Sign In</span>
  			</li>
		</ul>
	</div>
</nav>

<section class="top-content" role="topbanner">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="content">
					<h1>
						How Will You Treat People?
					</h1>
					<h3>
						Choose from three desserts to delight your friends, guests or family
					</h3>
					<div class="">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="secondary-nav" role="sub-nav">
	<div class="content-wrapper">
		<!-- TO DO #3: SET CATEGORY SEARCH AND SET FOCUS CLASS-->

		<ul class="nav product-nav nav-pills">
			<center><li class="active">  <a ui-sref="shop.icecream">Ice Cream</a></li>
			<li role="presentation"> <a ui-sref="shop.cookie">Cookies</a></li>
			<li role="presentation"> <a ui-sref="shop.cupcake">Cupcakes</a></li></center>
		</ul>

	</div>
</section>
<ui-view></ui-view>
