<section class="product-view" role="product-view">
	<div class="content-wrapper">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-m-12">
				<div id="product-card" class="product-card">

					<!-- SET PRODUCT IMAGE -->
					<div class="product-img" style="background:url('../../assets/img/description/icecream.jpg');background-size:cover;background-position:center center">
					</div>

					<div class="product-info">
						<div class="product-title">
							<!-- SET PRODUCT NAME -->
							Ice Cream

						</div>
						<div class="product-home">
					If you are familiar with any of the Bakerbots products you're probably aware of how things work, especially when it comes to ice cream and cookies. You choose an ice cream flavour to be wedged between one or two cookies, picking from the various types for an innumerable combination of flavours. What results is one of the best ice cream sandwiches I've ever had. Other fantastic flavours include burnt toffee, orange cardamom, London fog, halva (white sesame), and lemon meringue, among others. They also make dairy free chocolate and dairy free raspberry gelatos. We have a little espresso machine for making coffee and affogato as well, and your choice of scoop with espresso will run you $4.75. Warm summers evenings produce quite the line up, but it moves pretty fast, so get in that and get an ice cream and take a stroll through the neighbourhood, or head to the park and just gorge on a tub.
							<!-- SET PRODUCT Description -->
							<em></em>
						</div>
			
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-m-12">
				<div id="product-card" class="product-card">

					<!-- SET PRODUCT IMAGE -->
				

					<div class="product-info">
						<div class="product-title">
							<!-- SET PRODUCT NAME -->
							Cookies

						</div>
						<div class="product-home">
						There's a tomatoey foccacia I can't stop eyeing, loaves of olive bread, a bazillion kinds of biscotti with ingredients like seeds, almonds, and chocolate, and so many other different kinds of bread: cornbread, sourdough, and loaves with spices and walnuts. Mastrandrea ensures me that everything he bakes is free of white flour and artificial flavouring. Instead, he uses ancient grains, organic flour and ingredients imported from Italy.

						"I want people to say, 'This tastes like something my grandma made,'" he explains.

						The cookie--split in two--sandwiches a good few inches of ice cream in the middle. Our ice cream, as always, is fantastic, and the cookie has a great sturdiness to it, keeping everything inside. It has that home-baked taste and is chewy in a bit of a stick-to-your-teeth type way. And it's flat--not fluffy or crumbly--which makes it perfect for an ice cream sandwich. I bet it would taste even better in the mid-afternoon. And yes, that was a hint.
							<!-- SET PRODUCT Description -->
							<em></em>
						</div>
					
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-m-12">
				<div id="product-card" class="product-card">

					<!-- SET PRODUCT IMAGE -->
				

					<div class="product-info">
						<div class="product-title">
							<!-- SET PRODUCT NAME -->
							Cupcakes

						</div>
						<div class="product-home">
						There's an impressive assortment of icing varieties, available on cocoa or golden buttermilk cake. There are also signature cupcakes, including red velvet with cream cheese icing, banana with peanut butter icing, and carrot with cream cheese. The cupcakes are available in regular sizes ($2.95/each, $16.95/½ doz, $31.95/doz) and mini ($1.75/each, $9.95/½ doz, $18.95/doz). Gluten-free cupcakes are also available for order, as well as one or more gluten-free flavours for purchase each day.
							<!-- SET PRODUCT Description -->
							<em></em>
						</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
