<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div section="container">
		<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<img src="../../assets/img/icecream/chocolate.jpg" class="img-responsive">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<img src="../../assets/img/icecream/strawberry.jpg" class="	img-responsive">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<img src="../../assets/img/icecream/vanilla.jpg" class="img-responsive">
				</div>
		</div>
	</div>
</body>
</html>