@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic);

html,body{
	margin:0;
	height:100%;
}

body{
	color:#666;
	font-size:100%;
}

/*
Globals
*/
.wrapper{
	height:100%;
}
.content-wrapper{
	max-width:82.5em;
	margin:0 auto;
	height:100%;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}
.table-view{
	display: table;
	height:100%;
	width:100%;
}

.table-cell{
	display:table-cell;
	height:100%;
	vertical-align: middle;
	width:100%;
}

a{
	text-decoration: none;
	color:#9A3EBF;
	cursor:hand;
}
/*
Nav
*/

nav{
	height:55px;
	line-height:55px;
	color:#9a02bf;
	border-bottom:1px solid #d8d8d8;
	box-shadow: 0 4px 2px -2px #d8d8d8;
}

nav .left-nav{
	float:left;
	margin:0px 0px 0px 70px;
	vertical-align: top;
}

nav .right-nav{
	float:right;
	margin:0px 70px 0px 0px;
	vertical-align: top;
}

nav .fa-shopping-cart{
	margin-right:10px;
	font-size:2rem;
}
nav .cart{
	font-size:1.6rem;
	cursor:hand;
}
nav .sign{
	font-size:1.0rem;
	color:#9A3EBF;
	text-transform:uppercase;
}
/*
Top-content
*/
.form-control {
	text-align:center;
	color:#8CEDC5;
}

input::-webkit-input-placeholder {
color:#ffa2cf!important;
}
.top-content{
	width:100%;
	height:calc(70% - 110px);
	 background: -webkit-linear-gradient(90deg, #57D6B7  10%, #DD2476  90%); /*Chrome 10+, Saf5.1+*/
 background:    -moz-linear-gradient(90deg, #00aaee  10%, #DD2476  90%); /* FF3.6+ */
 background:     -ms-linear-gradient(90deg, #00aaee  10%, #DD2476  90%);  /*IE10 */
 background:      -o-linear-gradient(90deg, #00aaee  10%, #DD2476  90%); /* Opera 11.10+ */
 background:         linear-gradient(90deg, #8CEDC5  10%, #7465B7  90%); /*W3C*/
	background-size:cover;
	background-position:center center;
	text-align: center;
}

.top-content h1{
	color:whitesmoke;
	font-size:4rem;
}

.top-content h3{
	color:#E7EDC5;
	font-size:2rem;
	margin:10px 0px;
	letter-spacing:0.05rem;
	font-weight:100 !important;
}

.top-content .content{
	margin:0 auto;
}

.top-content form{
	position: relative;
	width:20rem;
	margin:45px auto;
}
.top-content form input{
	height:30px;
	display: inline-block;
}

.top-content .search-btn{
	position: absolute;
	background:#ff6d37;
	height:40px;
	width:40px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	vertical-align: middle;
	top:0px;
	right:0px;

}
.top-content .search-btn img{
	width:18px;
	margin-top:11px;
}


/*
Sub Nav
*/
.secondary-nav{
	height:55px;
	line-height:55px;
}
.product-nav ul{
	font-size:0;
}
.product-nav li{
	width:16%;
	text-transform:uppercase;
	text-align: center;
	display: inline-block;
	font-size:1.4rem;
	font-weight:600;
}
.product-nav li a:hover{
	color:#ffa2cf;
	text-transform:uppercase;
	border:none;
	font-weight:600;
	cursor:pointer;
	cursor:hand;
	text-decoration: none;
}
.product-nav li.focus > a{

	color:#ffa2cf;
	font-weight:600;
	text-transform:uppercase;
	border-bottom:2px solid #ff6d37;
	padding:4px 6px;
}


/*
Product view
*/

.product-view{
	background: #ffa2cf;
	padding:40px 0px;
}

.product-view .product-card{
	width:100%;
	height:200px;
	background:white;
	font-size:1.5rem;
	text-align:justify;
	position: relative;
	margin-bottom: 20px;
	border-radius:25px;
}

#product-card .product-buy{
	position: absolute;
	background: purple;
	border-radius:100%;
	color:white;
	height:30px;
	width:30px;
	top:10px;
	right:10px;

}

#product-card .product-buy:hover .fa{
	color:white;
	cursor: pointer;
	cursor:hand;
}

#product-card .product-img{
	width:50%;
	height:200px;
	float:left;
	background-color:white;
	border-radius:25px;
}

#product-card .product-imgr{
	width:50%;
	height:200px;
	float:right;
	border-radius:25px;
}

#product-card .product-info{
	padding:10px 10px 10px 10px;
	width:50%;
	letter-spacing: 0.05rem;
	float:right;
}

#product-card .product-infol{
	padding:10px 5px 0px 5px;
	width:50%;
	letter-spacing: 0.05rem;
	float:left;
}

#product-card .product-name{
	font-weight:700;
	color:#ffa2cf ;

}

#product-card .product-brand{
	font-style:none;
	font-weight:200;
	font-size:1.2rem;
}

#product-card .product-cost{
	color:#8CEDC5;
	font-weight:500;
	margin:10px 0px;
}

/*Cookies Partial*/


/*@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');
*/
#cookies-products body{
background-color: #ffa2cf;
 }

#cookies-products .transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }
#cookies-products .card {
    background-color: #fff;

    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 450px;
    width: 320px;
    /*margin: auto;*/
    overflow: hidden;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);

}
#cookies-products ul
{
    list-style-type: none;
}
/*.card:hover {
    height: 450px;
    width: 300px;
}*/
#cookies-products .card:hover .cta-container {
    display: inline;
    margin-top: 380px;
}
/*.card:hover .card_circle {
    background-size: contain;
    border-radius: 0;
    margin-top: -130px;
}*/
/*.card:hover h2 {
    background: #3487f7;
    color: #fff;
    margin-top: 50px;
    padding: 5px;*/
}
/*.card:hover h2 small { color: #fff }*/
/*.card:hover p { margin-top: 300px }*/
#cookies-products .card_circle img {
    /*background-color: #3487f7;*/
    background-size: 200px;
    border-radius: 75%;
    height: 400px;
    margin-left: -75px;
    margin-top: -270px;
    position: absolute;
    width: 450px;
}

.cookieBody {
	background: #ffa2cf;
 }

#cookies-products h2 {
    color: #3487f7;
    font-family: 'open-sans', sans-serif;
    font-size: 24px;
    font-weight: 200;
    /*margin-top: 150px;*/
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;

    background: #9A3EBF;
    color: #fff;
    margin-top: 50px;
    padding: 5px;
}
#cookies-products p {
    color: rgba(0,0,0,.6);
    font-family: 'open-sans', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 300px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
#cookies-products .cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    right: 5px;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

#cookies-products .cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #8CEDC5;
    border-radius: 2px;
    color: #8CEDC5;
    display: inline-block;
    font-family: 'open-sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
#cookies-products .cta:hover {
    background-color: #8CEDC5;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cookies-products .model-content, .modal-header, .modal-body {
    text-shadow:none;
    color:black;
}
